## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/
*.DotSettings.user

## IDE
.idea/
.vscode/

## NuGet
*.nupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Node/Vue
node_modules/
dist/

## OS
.DS_Store
Thumbs.db

## Logs
logs/
*.log

## Env
.env
.env.local
appsettings.*.local.json
