<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="console" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${scopeproperty:correlation_id}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />

    <target name="jsonFile" xsi:type="File"
            fileName="${basedir}/logs/daytrace-${shortdate}.json"
            archiveEvery="Day"
            maxArchiveFiles="30">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="correlation_id" layout="${scopeproperty:correlation_id}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="console,jsonFile" />
  </rules>
</nlog>
